$black: #0A0A0A;
$white: #fcfcff;
$gray: #9FA19D;
$yellow-primary: #F2D341;
$yellow-secondary: #F2C73F;


html,*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width:100vw;
    position: relative;
    background-color:$black;
    color: $white;
    font-family: 'Odibee Sans', cursive;
}

.container{
    position: relative;
    width: 80%;
    margin:auto;
}

h1{
    text-align: center;
    margin: 4rem 0 0 0;
    span{
        color: $yellow-secondary;
    }
}

.cart{
    &__board{
        position: relative;
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__element{
        height: 14rem;
        width: 15.5%;
        border: 1px solid $yellow-primary;
        margin: .5rem .5rem;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        img{
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover .cart__overlay::after{
            transform:  translate(-50%, -50%) scale(1.1);
        }
    
    }
    &__overlay{
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        background-color: $yellow-secondary;
        &::after{
            content: url(/assets/question-mark.svg);
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            transition: .3s transform ease;
            
        }
    }
}


.disabled{
    height: 14rem;
    width: 15.5%;
    margin: .5rem .5rem;
    position: relative;
}

.stop-clicking{
    pointer-events: none;
}

.gameOptions{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0;
}

#start{
    background: none;
    border: none;
    color: $yellow-primary;
    padding: 1rem 3rem;
    border:1px solid $yellow-primary;
    align-self: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s all;
    &:hover{
        color: $white;
        border: 1px solid $white;
    }
    
}

.api {
    position: absolute;
    top: 90vh;
    left:50%;
    transform: translateX(-50%);
    &__images{
        &-authors{
            p{
                text-align: center;
                margin: 1rem 0;
            }
            ul{
                list-style-type: none;
                display: flex;
                li a{
                    
                    color: $yellow-primary;
                    margin-right: 2rem;
                    text-align: center;
                }
                
            }
        }
    }
    &__link{
        p {
            a{
                color: rgb(42,145,149);
            }
            text-align: center;
        }
    }
}